{% extends "homepage.html" %}

<!DOCTYPE html>
<html lang="en">
  {% block head %}
      {{ block.super }}
  {% endblock %}
  <body>
    {% block nav %}{{ block.super }}{% endblock %}
    {% block mainbody %}
    <!-- mainbody -->
    <div class="container-fluid">
      <div class="row">
        {% block sidenav %}{{ block.super }}{% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">我的设置</li>
            </ol>
          <div class="row placeholders">
          </div>

<!-- 设置表单 -->
<div class="well well-lg">注：CED暂不支持为您托管头像图片；你可以使用 <a href="http://photo.weibo.com/tags/search?tag=%E5%A4%B4%E5%83%8F" title="新浪微博的免费图床" target="_blank">新浪微博的免费图床</a>；如果有事请假或者离开，请您及时将自己置为不可用状态。</div>

        <ol class="breadcrumb">
                <li class="active">修改设置</li>
            </ol>

<div class="input-group">
  <span class="input-group-addon">当前头像地址</span>
  <input type="text" class="form-control avatarurl" placeholder="{{ thisadmin.envadminavatar }}" value="{{ thisadmin.envadminavatar }}" disabled="true">
  <span class="input-group-btn">
        <button class="btn btn-default" id="cmyavatar">修改</button>
        <button class="btn btn-default" id="czmyavatar">还原</button>
  </span>
</div>

<div class="input-group">
      <span class="input-group-addon">
        <input type="radio" value="0" class="isnotbusy" name="mystatus">
      </span>
      <input type="text" class="form-control" value="置为空闲" disabled="true">
</div>

<div class="input-group" style="">
      <span class="input-group-addon">
        <input type="radio" value="1" class="isbusy" name="mystatus">
      </span>
      <input type="text" class="form-control" value="置为不可用" disabled="true">
</div>

<button type="button" class="btn btn-default" id="savemysetting">保存修改</button>

        <ol class="breadcrumb">
                <li class="active">实时预览</li>
            </ol>
        <ul class="list-group herolists">

                    <li class="list-group-item singlehero currenthero">
                    <span id="curlogo">自己</span>

                    <div class="herocard-left">
                    <img src="{{ thisadmin.envadminavatar }}" width="64" height="64" class="envadminavatar">
                    <p class="list-group-item-text envadminname">{{ thisadmin.envadminname }}</p>
                    </div>

                    <div class="herocard-right">
                    <p class="list-group-item-text envadmingroup">{{ thisadmin.envadmingroup }}</p>
                    {% ifequal thisadmin.envadminstatus 0 %}
                    <p class="label list-group-item-text label-success mystatus">:）可接单</p>
                    {% else %}
                    <p class="label list-group-item-text label-danger mystatus">:( 不可用</p>
                    {% endifequal %}
                    </div>

                    </li>
                </ul>

        </div>
      </div>
    </div>
    {% endblock %}
    {% block footer %}{{ block.super }}{% endblock %}
  </body>
</html>