<!DOCTYPE html>
<html lang="en">
{% block head %}
  <head>
    <meta charset="utf-8">
    <title>CED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- CED Theme -->
    <link href="/static/css/theme.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/static/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
   <script src="/static/js/jquery-1.8.3.min.js"></script>
   <script src="/static/js/highcharts.js"></script>
   <script type="text/javascript">
    $(document).ready(function(){

        $(".emailnotity-no").click(function(){
            alert("不被允许的操作!");
        });

        $(".delissue-no").click(function(){
            alert("不被允许的操作!");
        });

        $(".emailnotity").click(function(){
            //请求发送邮件
            alert("发送邮件");
        });

        $(".delissue").click(function(){
            //隐藏掉
            $(this).parent().parent().hide(1000);
        });

        //datas页面的数据图标展示--环境管理员治理数据
        $('#hccontainer-byman').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Historic World Population by Region'
        },
        subtitle: {
            text: 'Source: Wikipedia.org'
        },
        xAxis: {
            categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Year 1800',
            data: [107, 31, 635, 203, 2]
        }, {
            name: 'Year 1900',
            data: [133, 156, 947, 408, 6]
        }, {
            name: 'Year 2008',
            data: [973, 914, 4054, 732, 34]
        }]
        });

        // 问题单分类饼图
        $('#hccontainer-byissue').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Browser market shares at a specific website, 2010'
            },
            tooltip: {
        	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
        });


    });
    </script>
  </head>
{% endblock %}
  <body>

  {% block nav %}
    <!-- 顶部导航条 -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a class="navbar-brand navbar-left" href="/">CED</a>
        <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>首页</a></li>
        <li class="dropdown">
        {% if hasEvent %}{% else %}<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-comment"></span>我的消息<span class="navbar-new">{{ myeventsnum }}</span></a>{% endif %}
        <ul class="dropdown-menu" role="menu">
            {% for myevent in myevents %}
            <li>{{ myevent.eventdes | safe }}</li>
            {% endfor %}
            <li><a href="/allmyevents">查看所有消息(这里只显示最新的10条)</a></li>
          </ul>
        </li>
        <li><a href="/showdatas"><span class="glyphicon glyphicon-stats"></span>统计与展示</a></li>
        <li><a href="/cedheros"><span class="glyphicon glyphicon-user"></span>查看环境管理员状态</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>我的设置</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-list"></span>工具包<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">CED自带工具</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-globe"></span>核心服务预警监测</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-warning-sign"></span>问题URL自助诊断</a></li>
            <li><a href="/tools/codesync/" target="_blank"><span class="glyphicon glyphicon-refresh"></span>环境代码同步工具</a></li>
            <li><a href="http://10.3.6.170:8091/" target="_blank"><span class="glyphicon glyphicon-dashboard"></span>服务器时间修改</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-search"></span>All IN ONE 查看</a></li>
            <li><a href="http://uatinfo.ctripcorp.com/" target="_blank"><span class="glyphicon glyphicon-eye-open"></span>UAT环境监控</a></li>
            <li class="divider"></li>
            <li><a href="#">携程内部工具</a></li>
            <li class="divider"></li>
            <li><a href="http://croller/" target="_blank"><span class="glyphicon glyphicon-cloud"></span>croller</a></li>
            <li><a href="http://scm.dev.sh.ctripcorp.com/" target="_blank"><span class="glyphicon glyphicon-cloud"></span>SCMPortal</a></li>
            <li><a href="http://hotelqa/" target="_blank"><span class="glyphicon glyphicon-cloud"></span>hotelqa</a></li>
          </ul>
        </li>

        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入问题单号">
        </div>
        <button type="submit" class="btn btn-default">直达</button>
        </form>
        </ul>

    </nav>
  {% endblock %}

    {% block mainbody %}
    <!-- mainbody -->
    <div class="container-fluid">
      <div class="row">
      {% block sidenav %}
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/categories/1"><span class="glyphicon glyphicon-info-sign"></span>未解决</a></li>
            <li><a href="/categories/3"><span class="glyphicon glyphicon-ok-sign"></span>已解决</a></li>
            <li><a href="/categories/2"><span class="glyphicon glyphicon-question-sign"></span>待确认</a></li>
            <li><a href="/categories/4"><span class="glyphicon glyphicon-remove-sign"></span>被驳回</a></li>
          </ul>
        </div>
       {% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">今日问题单统计</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="panel panel-success">
                    <div class="panel-heading">
                    <h3 class="panel-title">已解决的问题单</h3>
                    </div>
                    <div class="panel-body">
                    <h1 class="qnumber-success">{{ issuedone }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                 <div class="panel panel-danger">
                    <div class="panel-heading">
                    <h3 class="panel-title">未解决的问题单</h3>
                    </div>
                    <div class="panel-body">
                    <h1 class="qnumber-danger">{{ issueundo }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                 <div class="panel panel-info">
                    <div class="panel-heading">
                    <h3 class="panel-title">等待确认的问题单</h3>
                    </div>
                    <div class="panel-body">
                    <h1 class="qnumber-info">{{ issuewait }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                 <div class="panel panel-warning">
                    <div class="panel-heading">
                    <h3 class="panel-title">被驳回的问题单</h3>
                    </div>
                    <div class="panel-body">
                    <h1 class="qnumber-danger">{{ issuerollback }}</h1>
                    </div>
                </div>
            </div>
          </div>

          <h1 class="page-header">问题单列表</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>问题单号</th>
                  <th>提交人</th>
                  <th>问题概述</th>
                  <th>最近修改时间</th>
                  <th>当前状态</th>
                  <th>诊断与治理</th>
                  <th>快速操作</th>
                </tr>
              </thead>
              <tbody>
              {% for issue in Allissues %}
                <tr>
                  <td>{{ issue.issueid }}</td>
                  <td>{{ issue.issuesubman }}</td>
                  <td><a href="{{ issue.issuedetailurl }}" title="查看详情" class="viewdetail">{{ issue.issuetitle | truncatechars:'20' }}</a></td>
                  <td>{{ issue.issuecreatetime | date:"Y-m-d H:i:s"  }}</td>
                  <td>
                      {% ifequal issue.issuestatus 1 %}
                      <span class="label label-danger">{{ issue.issuestatusname }}</span>
                       {% else %}
                          {% ifequal issue.issuestatus 3 %}
                              <span class="label label-success">{{ issue.issuestatusname }}</span>
                              {% else %}
                                {% ifequal issue.issuestatus 2 %}
                                    <span class="label label-info">{{ issue.issuestatusname }}</span>
                                    {% else %}
                                        {% ifequal issue.issuestatus 4 %}
                                            <span class="label label-warning">{{ issue.issuestatusname }}</span>
                                    {% endifequal %}
                                {% endifequal %}
                           {% endifequal %}
                      {% endifequal %}
                  </td>
                  <td><a href="{{ issue.issuedetailurl }}" title="查看 {{ issue.issueid }} 问题单的详情信息" id="viewdetail"><button class="btn btn-embossed btn-primary btn-xs"><span class="glyphicon glyphicon-list-alt"></span>查看详情</button></a></td>
                  {% ifequal issue.issuestatus 1 %}
                      <td><a title="邮件提醒对方" class="emailnotity-no"><span class="glyphicon glyphicon-envelope"></span></a><a title="删除该问题单" class="delissue-no"><span class="glyphicon glyphicon-trash"></span></a></td>
                       {% else %}
                          {% ifequal issue.issuestatus 3 %}
                              <td><a title="邮件提醒对方" class="emailnotity-no"><span class="glyphicon glyphicon-envelope"></span></a><a title="删除该问题单" class="delissue"><span class="glyphicon glyphicon-trash"></span></a></td>
                              {% else %}
                                {% ifequal issue.issuestatus 2 %}
                                    <td><a title="邮件提醒对方" class="emailnotity"><span class="glyphicon glyphicon-envelope"></span></a><a title="删除该问题单" class="delissue-no"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    {% else %}
                                        {% ifequal issue.issuestatus 4 %}
                                            <td><a title="邮件提醒对方" class="emailnotity-no"><span class="glyphicon glyphicon-envelope"></span></a><a title="删除该问题单" class="delissue-no"><span class="glyphicon glyphicon-trash"></span></a></td>
                                    {% endifequal %}
                                {% endifequal %}
                           {% endifequal %}
                      {% endifequal %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

    {% block footer %}
    <!-- Load JS here for greater good =============================-->
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/flatui-checkbox.js"></script>
    <script src="/static/js/flatui-radio.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
  {% endblock %}

  </body>
</html>
