{% extends "homepage.html" %}
<!DOCTYPE html>
<html lang="en">
  {% block head %}{{ block.super }}{% endblock %}
  <body>
    {% block nav %}{{ block.super }}{% endblock %}
    {% block mainbody %}
    <!-- mainbody -->
    <div class="container-fluid">
      <div class="row">
        {% block sidenav %}{{ block.super }}{% endblock %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">我的所有消息</li>
            </ol>
          <div class="row placeholders">
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
                <div class="list-group issuedetail" id="eventslistinfo">
                    <div id="markallbutton" style="margin-bottom: 15px;">
                    <button class="btn btn-embossed btn-danger btn-sm" id="markallread">
                    全部标记为已读
                    </button>
                    </div>
                    {% for eventdetial in myallevents %}
                    <div class="list-group-item">
                    <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-envelope"></span>提醒</h4>
                    <p class="list-group-item-text">{{ eventdetial | safe }}</p>
                    </div>
                    {% endfor %}
                </div>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block footer %}{{ block.super }}{% endblock %}
  </body>
</html>